openapi: 3.1.0
info:
  title: FullEnrich Account API
  description: Workspace credit balance and API key validity checks. FullEnrich API enables you to enrich
    B2B contacts with emails and phone numbers using data from 20+ providers.  We are GDPR and CCPA compliant.
  version: 2.0.0
  contact:
    name: FullEnrich Support
    url: https://docs.fullenrich.com
  termsOfService: https://fullenrich.com/tos
servers:
- url: https://app.fullenrich.com/api/v2
security:
- BearerAuth: []
tags:
- name: Account
  description: Workspace credit balance and API key validity checks.
paths:
  /account/keys/verify:
    get:
      summary: Check If API Key Is Valid
      description: This endpoint checks if your API key is valid.
      operationId: checkKey
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/verifyKey'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AuthorizationHeaderNotSet:
                  value:
                    code: error.authorization.not_set
                    message: Authorization headers not set
                AuthorizationHeaderNotAnBearer:
                  value:
                    code: error.authorization.not_bearer
                    message: Authorization headers do not have prefix 'bearer'
                UnknowApiKey:
                  value:
                    code: error.api.key
                    message: Unknown api key
        '404':
          description: Workspace ID not found
      security:
      - BearerAuth: []
      tags:
      - Account
  /account/credits:
    get:
      summary: Get Current Balance
      description: This endpoint provides the current balance of credits available in your workspace.
      operationId: getAccountCredits
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credits'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                AuthorizationHeaderNotSet:
                  value:
                    code: error.authorization.not_set
                    message: Authorization headers not set
                AuthorizationHeaderNotAnBearer:
                  value:
                    code: error.authorization.not_bearer
                    message: Authorization headers do not have prefix 'bearer'
                UnknownApiKey:
                  value:
                    code: error.api.key
                    message: Unknown api key
        '404':
          description: Workspace ID not found
      security:
      - BearerAuth: []
      tags:
      - Account
components:
  schemas:
    Credits:
      type: object
      properties:
        balance:
          type: number
          format: double
          description: Number of credits available on your workspace
          examples:
          - 5000
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
      - code
      - message
    verifyKey:
      type: object
      description: Response returned when API key is valid
      properties:
        workspace_id:
          type: string
          description: The workspace ID associated with this API key
          example: 2db5ea61-1752-42cf-8ea1-ab1da060cd0a
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: string
